<div class="sidebar-main-active right-column-fixed">
  <!-- Wrapper Start -->
  <div class="wrapper">
     <!-- Sidebar  -->
     <div class="iq-sidebar">
        <div id="sidebar-scrollbar">
           <nav class="iq-sidebar-menu">
              <ul id="iq-sidebar-toggle" class="iq-menu">
                 <li>
                    <a [routerLink]="['/admin/mission']"  class="iq-waves-effect"><i class="las la-chart-line"></i><span>Mission</span></a>
                 </li>
                 <li>
                    <a [routerLink]="['/admin/competence']" routerLinkActive="nav-link-active" class="iq-waves-effect"><i class="las la-users"></i><span>Competence</span></a>
                 </li>
              </ul>
           </nav>
           <div class="p-3"></div>
        </div>
     </div>
  </div>
</div>
   
